<?xml version="1.0" encoding="utf-8"?>
<Switch
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:layout_width="match_parent"
	android:layout_height="match_parent"
	android:minWidth="25px"
	android:minHeight="25px"
	android:id="@+id/locationSharing"
	android:showText="true"
	android:text="Location Sharing"
	android:paddingLeft="50px"
	android:paddingRight="50px" />